/*---------------------------------------------------------------------VARIABLES----------------------------------------------------------------*/
/*---------------------------------------------------------------------RECETEO----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 48px;
  text-align: center;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: rgb(212, 210, 210);
}

main section {
  display: flex;
  justify-content: center;
}

label {
  display: block;
}

/*--------------------------------------------------------CABECERA---------------------------------------------------*/
header {
  background-image: url(../img/olimpo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header .imagen-cabecera {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.863);
  width: auto;
}

.kratos {
  width: 50%;
}

/*--------------------------------------------------------BARRA DE NAVEGACION---------------------------------------------------*/
nav {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 60px;
  text-align: center;
}
ul li {
  border: 2px solid brown;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.692);
  border-radius: 20px;
}

/*--------------------------------------------------------QUERY DE BARRA DE NAVEGACION---------------------------------------------------*/
@media (max-width: 735px) {
  ul {
    flex-direction: column;
    gap: 7px;
  }
}
/*----------------------------------------------------------CAJA DE CONTENIDO---------------------------------------------------*/
.caja-main {
  width: 700px;
  margin: 100px 30px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.322);
  border: solid 2px black;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
}

/*---------------------------------------------------------QUERY DE CAJA DE CONTENIDO---------------------------------------------------*/
@media (min-width: 768px) {
  .caja-main {
    font-size: 2.1rem;
  }
}
/*--------------------------------------------------------FOOTER---------------------------------------------------*/
footer {
  background-image: url(../img/Inframundo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*--------------------------------------------------------------------------BOTONES----------------------------------------------------------*/
.btn {
  border: 2px solid black;
  border-radius: 18px;
  margin: 20px;
  width: 100px;
  height: 50px;
  font-size: 1.3rem;
  background-color: rgba(128, 128, 128, 0.4);
  font-weight: bolder;
}

/*------------------------------------------------CANCELAR---------------------------------------------------*/
.cancelar {
  transition-duration: 0.5s;
}
.cancelar:hover {
  transform: scale(2);
  background-color: rgba(255, 0, 0, 0.322);
}

/*------------------------------------------------ENVIAR---------------------------------------------------*/
.enviar {
  transition-duration: 0.5s;
}
.enviar:hover {
  transform: scale(2);
  background-color: rgba(0, 128, 0, 0.322);
}

/*----------------------------------------------------------FONDO DE INDEX-------------------------------------------------*/
.imagen-fondo {
  background-image: url(../img/paisaje-de-god-of-war-ragnarok.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*----------------------------------------------------------VIDEO DE INDEX-------------------------------------------*/
@media (max-width: 590px) {
  .video-avance {
    width: 100%;
  }
}
/*----------------------------------------------------------FORMULARIO---------------------------------------------*/
form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto {
  display: flex;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 45px;
  font-size: 1rem;
  background-color: rgba(128, 128, 128, 0.322);
  margin: 20px;
}

.area {
  height: 300px;
}

/*----------------------------------------------------------CAJA DE SECCION LOGROS-------------------------------------------*/
.fila {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*----------------------------------------------------------QUERY CAJA DE SECCION LOGROS-------------------------------------------*/
@media (min-width: 1200px) {
  .grilla-logros {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 80vh);
    justify-content: center;
  }
}
.logrosbronce {
  background-color: rgba(168, 79, 27, 0.5);
}

.logrosplata {
  background-color: rgba(192, 192, 192, 0.5);
}

.logrosoro {
  background-color: rgba(182, 157, 17, 0.5);
}

.logroplatino {
  background-color: rgba(218, 236, 252, 0.5);
}

/*--------------------------------------------------------CAJA DE SECCION ARMAS---------------------------------------------------*/
.armas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.armas img {
  width: 100%;
}

/*----------------------------------------------------------GALERIA DE IMAGENES------------------------------------*/
.galeria {
  padding: 15px 0px;
}

.grilla-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.grilla-galeria img {
  width: 95%;
  object-fit: cover;
}

/*----------------------------------------------------------QUERYS DE GALERIA DE IMAGENES-------------------------------*/
@media (min-width: 768px) {
  .grilla-galeria {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(4, 20vh);
    justify-content: center;
  }
  .grilla-galeria img {
    width: 100%;
    height: 100%;
  }
  .img-destacada {
    grid-column: span 2;
    grid-row: span 2;
  }
}
@media (min-width: 1200px) {
  .grilla-galeria {
    grid-template-columns: repeat(4, 22.5%);
    grid-template-rows: repeat(2, 25vh);
  }
  .grilla-galeria img {
    box-shadow: 1px 15px 10px;
    transition-duration: 0.5s;
  }
  .grilla-galeria img:hover {
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=styles.css.map */
