* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1 {
  font-size: 48px;
}

main section {
  display: flex;
  justify-content: center;
}

header {
  background-image: url(../img/olimpo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body header .imagen-cabecera {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.863);
  width: auto;
}

@media (min-width: 320px) {
  .kratos {
    width: 50%;
  }
}
nav {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: center;
}

li {
  border: 2px solid grey;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.692);
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: brown;
}

@media (min-width: 735px) {
  ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
}
.caja-main {
  width: 700px;
  margin: 100px 30px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.322);
  border: solid 2px black;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
}

span {
  display: block;
  justify-content: center;
  align-items: center;
}

footer {
  background-image: url(../img/Inframundo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  border: 2px solid black;
  border-radius: 18px;
  margin-bottom: 20px;
  width: 100px;
  height: 50px;
  font-size: 1.3rem;
  background-color: rgba(128, 128, 128, 0.322);
  font-weight: bolder;
}

.cancelar {
  transition-duration: 0.5s;
}

.cancelar:hover {
  transform: scale(2);
  background-color: rgba(255, 0, 0, 0.322);
}

.enviar {
  transition-duration: 0.5s;
}

.enviar:hover {
  transform: scale(2);
  background-color: rgba(0, 128, 0, 0.322);
}

.imagen-fondo {
  background-image: url(../img/paisaje-de-god-of-war-ragnarok.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 590px) {
  .video-avance {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .contacto {
    display: flex;
    align-content: center;
    text-align: center;
    width: 500px;
    height: 45px;
    font-size: 1.8rem;
    background-color: rgba(128, 128, 128, 0.322);
    margin: 20px;
  }
  .area {
    height: 300px;
  }
  label {
    display: block;
  }
  h1 {
    text-align: center;
    padding-top: 20px;
  }
}
.fila {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.perfil-personajes {
  width: 600px;
  height: 530px;
}

.perfil-personajes img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

.perfil-personajes img:hover {
  width: 300px;
  opacity: 1;
}

.galeria {
  padding: 15px 0px;
}

.galeria h2 {
  text-align: center;
  padding: 10px;
}

.grilla-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.grilla-galeria img {
  width: 95%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .grilla-galeria {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(4, 20vh);
    justify-content: center;
  }
  .grilla-galeria img {
    width: 100%;
    height: 100%;
  }
  .img-destacada {
    grid-column: span 2;
    grid-row: span 2;
  }
  .caja-main {
    font-size: 2.1rem;
  }
}
@media (min-width: 1200px) {
  .grilla-galeria {
    grid-template-columns: repeat(4, 22.5%);
    grid-template-rows: repeat(2, 25vh);
  }
  .grilla-galeria img {
    box-shadow: 1px 20px 10px;
    transition-duration: 0.5s;
  }
  .grilla-galeria img:hover {
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=styles.css.map */
