.imagen-fondo {
    background-image: url(../img/paisaje-de-god-of-war-ragnarok.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

main section {
    display: flex;
    justify-content: center;

}