@media(min-width: 1200px) {
    .grilla-logros{
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(4, 20vh);
        justify-content: center;
    }



}