/*----------------------------------------------------------CAJA DE SECCION LOGROS-------------------------------------------*/
.fila{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*----------------------------------------------------------QUERY CAJA DE SECCION LOGROS-------------------------------------------*/
@media(min-width: 1200px){

    .grilla-logros{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 80vh);
        justify-content: center;
    }
}

.logrosbronce{
    background-color: rgba(168, 79, 27, 0.5);
}

.logrosplata{
background-color: rgba(192, 192, 192, 0.5);
}

.logrosoro{
    background-color: rgba(182, 157, 17, 0.5);
}

.logroplatino{
    background-color: rgba(218, 236, 252, 0.5);
}