/*----------------------------------------------------------CAJA DE CONTENIDO---------------------------------------------------*/
.caja-main {
    width: 700px;
    margin: 100px 30px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.322);
    border: solid 2px black;
    border-radius: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;

}
/*---------------------------------------------------------QUERY DE CAJA DE CONTENIDO---------------------------------------------------*/
@media (min-width:768px) {
    .caja-main {
        font-size: 2.1rem;
    }
}
