/*--------------------------------------------------------FOOTER---------------------------------------------------*/
footer {
    background-image: url(../img/Inframundo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
