* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
}

a{
    text-decoration: none;
}

ul,
ol{
    list-style: none;
}

h1{
    font-size: 24px;
}

