*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1{
    font-size: 48px;
    text-align: center;
    padding-top: 20px;
}
a {
    text-decoration: none;
    color: brown;

}
main section {
    display: flex;
    justify-content: center;
}
label {
    display: block;
}




